<button type="button" name="logButton" (click)="toggleLog()" class="btn btn-link">{{log.created | date : "EEEE, MMMM d, y hh:mm:ss a"}}</button><span (click)="dismiss()" style="float:right;cursor: pointer;color: red;margin-top: 10px;"><span class="far fa-times-circle"></span></span>
<div class="card-body" *ngIf="logVisible">
    <div class="card card-body">
            <dl class="row">
              <dt class="col-sm-6" style="display: block;">Body Temperature:</dt>
              <dd class="col-sm-6">{{log.bodyTemperature}} °F</dd>
    
              <dt class="col-sm-6" style="display: inline;">Heart Rate:</dt>
              <dd class="col-sm-6">{{log.heartRate}} bpm</dd>
    
              <dt class="col-sm-6" style="display: inline;">Blood Pressure:</dt>
              <dd class="col-sm-6">{{log.bloodPressure}} mmHg</dd>
    
              <dt class="col-sm-6" style="display: inline;">Respiratory Rate:</dt>
              <dd class="col-sm-6">{{log.respiratoryRate}} breaths per minute</dd>
            </dl>
          </div>
</div>