<mat-tab-group mat-stretch-tabs (selectedTabChange)="onLinkClick($event)">
    <!-- #region -->
    <mat-tab label="Log History" >
        <div>
            <div class="card">
                <div class="card-header" *ngFor="let log of logList">
                    <app-view-log (callback)="update()" [log]="log"></app-view-log>
                </div>
            </div>
        </div>
    </mat-tab>
    <!-- #endregion -->

    <!-- #region -->
    <mat-tab label="Add Log" >
        <app-add-log [user]="user" [patient]="patient"></app-add-log>
    </mat-tab>
    <!-- #endregion -->

    
    <!-- #region -->
    <mat-tab label="Add Dairy Tip" >
        <app-add-tip [user]="user" [patient]="patient"></app-add-tip>
    </mat-tab>
    <!-- #endregion -->

</mat-tab-group>