footer {
    background: #f3f3f3;
    margin-top: 3rem;
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
    width: 100%; }
    footer .logo-font {
      vertical-align: middle; }
    footer .attribution {
      vertical-align: middle;
      margin-left: 10px;
      font-size: 0.8rem;
      color: rgb(83, 81, 81);
      font-weight: 300; }

.bar-footer {
    height: 50px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;

}
.navbar, .footerbar {
    position: relative;
    top: 50%;
    /*transform: translateY(-50%);*/
  }