<div class="card">
    <div class="card-header" *ngFor="let symptom of formSymptoms">
            <div class="card-body">
                <button type="button" name="sbutton" (click)="toggle(symptom.name)" 
                class="btn btn-link">{{symptom.name}}</button>                    
                <div class="card-body" *ngIf="symptom.visible">
                    <span style="font-size: 80%; color:gray">Select Factor</span>
                    <div class="card card-body">
                        <div *ngFor="let factor of symptom.factors" >
                            <button type="button" name="fbutton" (click)="toggleFactor(factor.detail)" class="btn btn-link">{{factor.detail}}</button>
                            <div class="card-body" *ngIf="factor.visible" style="margin-left: 10px;">
                                <span style="font-size: 80%; color:gray">Possible Causes</span>
                                <div *ngFor="let cause of factor.cause">
                                    <span> <a href="{{cause.link}}" target="_blank">{{cause.name}}</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
    </div>
</div>
