<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/home">COMP308 Nursing Care Monitoring System</a>
  <a class="nav-item nav-link my-2 my-lg-0" (click)="logout()" href="/">Sign Out</a>
</nav>
<div style="width:70%; height: 100%; margin: auto; margin-top: 1%">
  <div class="jumbotron">
    <mat-tab-group mat-stretch-tabs>

      <!-- #region Patients Details -->
      <mat-tab label="Patients" *ngIf="user.isNurse">
          <app-patients [user]="user" ></app-patients>
      </mat-tab>
      <!-- #endregion -->

      <!-- #region Patients Details -->
      <mat-tab label="Videos" *ngIf="user.isNurse">
          <app-video [user]="user"></app-video>
      </mat-tab>
      <!-- #endregion -->

      <!-- #region Course Details -->
      <mat-tab label="Dashboard" *ngIf="!user.isNurse">
        <app-dashboard [user]="user" [nurse]="nurse"></app-dashboard>
      </mat-tab>
        <!-- #endregion -->

      
      <!-- #region User Details -->
      <mat-tab label="User Details">
        <div class="container">
          <br>
          <p class="h3">User Details</p>
          <hr>
          <br>
          <div class="card card-body">
          <dl class="row">
            <dt class="col-sm-3">User Name:</dt>
            <dd class="col-sm-9">{{user.firstName + " " +user.lastName}}</dd>

            <dt class="col-sm-3">Email:</dt>
            <dd class="col-sm-9">{{user.email}}</dd>

            <dt class="col-sm-3">Address:</dt>
            <dd class="col-sm-9">
              <p>{{user.address}}</p>
              <p>{{user.city}}</p>
            </dd>

            <dt class="col-sm-3">Phone Number:</dt>
            <dd class="col-sm-9">{{user.phoneNumber}}</dd>

            <dt class="col-sm-3">Role:</dt>
            <dd class="col-sm-9"><span *ngIf="user.isNurse">Nurse</span><span *ngIf="!user.isNurse">Patient</span></dd>
          </dl>
        </div>

        </div>
      </mat-tab>
      <!-- #endregion -->

    </mat-tab-group>

    <div *ngIf="user.isNurse">
        <br>
        <p class="h3">Alerts</p>
        <hr>
        <div class="card">
          <div class="card-header" *ngFor="let alert of alertList">
            <app-view-alert [alert]="alert" (callback)="update ()"></app-view-alert>
          </div>
        </div>
      </div>
      <div *ngIf="!user.isNurse">
          <br>
          <p class="h3">Comments</p>
          <hr>
          <div class="card">
            <div class="card-header" *ngFor="let comment of commentList">
                <app-comment [comment]="comment" (callback)="update ()"></app-comment>
            </div>
          </div>
        </div>
  </div>
</div>

